#pacman {
  height: 470px;
  width: 382px;
  border-radius: 5px;
  margin: 20px auto;
}

h1 {
  font: 36px Copperplate;
  text-align: center;
  color: yellow;
}

body {
  width: auto;
  margin: auto;
  font-family: sans-serif;
  background-color: black;
}
